<section class="fileupcontainer">
<h1 class="accessImg">Your image can be accessed at:  https://pure-falls-37475-b827dca668fb.herokuapp.com/{{data.dataValues.filename}}</h1>
<a class="homeBtn" href="/">Return Home</a>
</section>